.test-style {
    display: block; /* デフォルトのスタイルと異なるスタイルを指定 */
    color: red; /* チェックするプロパティ */
}

/* 全体のスタイル */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif; /* フォントを設定 */
}

/* body を flexbox にしてページを縦に並べる */
body {
    display: flex;
    flex-direction: column;
    align-items: center; /* コンテンツを中央揃え */
    justify-content: center; /* コンテンツを上下中央に配置 */
    padding: 1rem; /* ページ全体にパディングを追加 */
}

/* フッターのスタイル */
footer {
    background-color: #f5f5f5; /* フッターの背景色 */
    padding: 1rem; /* 内側の余白 */
    text-align: center; /* テキストを中央揃え */
    width: 100%; /* フッターを画面幅いっぱいに広げる */
    position: relative; /* 相対的な位置 */
    bottom: 0; /* 画面下部に配置 */
}

.container {
    width: 100%;
    max-width: 400px;
}

.box {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 1rem; /* 上部にスペースを追加 */
}

.button {
    margin: 0.5rem;
}

#fullscreen-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grecaptcha-badge {
    visibility: visible !important;
    opacity: 1 !important;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}

.slide-out {
    animation: slideOut 0.5s forwards;
}

.zoom-in {
    animation: zoomIn 0.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

#new-content, #newer-content {
    display: none;
}
